* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy-Bold', sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
}

article {
    display: block;
    
}

#nav {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

#hbo-logo {
    width: 140px;
    height: 70px;
    margin-left: 10px;
}

.rightcorner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
}

#login-button {
    color: white;
    text-decoration: none;
    padding: 8px 45px 8px 45px;
    border-radius: 20px;
    transition-duration: 0.4s;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: small;
}

#nav-third-item {
    margin-right: 10px;
}

#sub-button {
    color: white;
    background-color: #b535f6;
    text-decoration: none;
    padding: 8px 40px 8px 40px;
    border-radius: 20px;
    transition-duration: 0.4s;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: small;
}

#sub-button:hover {
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 15px 45px 15px 45px;
    border-radius: 20px;
    margin-left: 25px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: small;
}
.gradiente {
    background-image: linear-gradient(180deg,rgba(0,0,0,1),rgba(0,0,0,0.5));
    z-index: 10;
}
#section-1 {
    margin-bottom: 0rem;
    height: 100vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("resources/img/tileburnedin.jpg");
    background-size: cover;

}

#section-2 {
    margin-bottom: 0rem;
    height: 100vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("resources/img/tileburnedin2.jpg");
    background-size: cover;
    
}

#main-div-section1{
    color: red;
    height: 60vh;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 35vw;

}

#grid-div-section1{
    display: grid;
    -ms-grid-column-align: center;
    grid-template-columns: 300px 300px;
    align-self: flex-end;

}
